* {
  box-sizing: border-box;
}

p, h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 24px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.5;

  /* background-color: black; */
}

/* NAVBAR ESCRITORIO */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li > a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 20px 15px 10px 15px;

  /* color: white; */
}

nav ul li .link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;

  background-color: black;
}

nav ul li .link:hover:before {
  transform: scaleX(1);
}

/* NAVBAR MOBILE */

nav .mobile {
  display: none;
  width: 100%;
}

nav .mobile .header {
  display: flex;
  text-align: end;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: black; */
}

nav .mobile .header a {
  /* color: white; */
  display: inline-flex;
  text-decoration: none;
  padding: 10px;
}

/* SECCION RONALDO */
.testament {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    margin-bottom: 65px;
    align-items: center;
    justify-content: center;
}
  
.text {
    align-items: center;
    justify-content: center;
    margin: auto;
}
  
.testament .text p {
  font-size: 38px;
  font-style: normal;
  color:  #331B3B;
  text-align: center;
}

.cards {
  margin: 0 auto;
  float: center;
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  align-items: center;
  justify-content: space-around;
}

.box {
  width: 90%;
  height: 230px;
  background-color: rgb(253, 253, 253);
  overflow: hidden;
  margin: 25px 0 0 35px;
}

.box .autor p{
  color: #FDC221;
}

.box .autor b{
  color: #000000;
}

/* FOOTER */
.pie {
  background: #000000;
  border-top-right-radius: 116px;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.pie .formulario {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pie .formulario button {
  width: 180px;
  height: 30px;
  background-color: #FE9A22;
  color: #eeee;
  font-style: bold;
  cursor: pointer;
}

.pie p {
  color: #ffff;
  text-align: left;
}

.pie h2 {
  color: #ffff;
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    padding: 0;
  }

  nav ul {
    display: none;
  }

  nav .mobile {
    display: block;
  }
  
  .cards {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .pie {
    width: 110%;
    grid-template-columns: repeat(1, 1fr);
  }
  
}

h1{
font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 110.8%;
text-align: center;
letter-spacing: -0.01em;
color: #331B3B;
}

h1.titulo{
  color:black;
}

.texto{
  font-size: smaller;
  display: inline-block;
  vertical-align: top;
}

.cuerpo{
  padding: 10px;
}

.column {
  display: flex;
  height: 100vh;
  float: left;
  width: 33%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
}

.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:100%;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 8px 4px #d3d3d3d1;
  /* border-radius:15px; */
  font-family: 'Hind Vadodara';
}

.Container{
  background-image: url("../src/Rúbrica 1er corte - Landing Page/Rectangle 13.png");
  width: 78%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  height: 100vh;
   justify-content: center;
}