* {
  box-sizing: border-box;
}

p,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: "Playfair Display";
  font-size: 24px;
}

body {
  font-family: "Hind Vadodara";
  font-size: 18px;
  padding: 0;
  margin: 0;
  line-height: 1.5;

  /* background-color: black; */
}

/* NAVBAR ESCRITORIO */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li > a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 20px 15px 10px 15px;

  color: black;
}

nav ul li .link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;

  background-color: black;
}

nav ul li .link:hover:before {
  transform: scaleX(1);
}

/* NAVBAR MOBILE */

nav .mobile {
  display: none;
  width: 100%;
}

nav .mobile .header {
  display: flex;
  text-align: end;
  justify-content: space-between;
  flex-direction: row;
  
}

nav .mobile .header a {
  color: black;
  display: inline-flex;
  text-decoration: none;
  padding: 10px;
}

/* NAV Y SECCION 1*/
.main {
  background-image: url("../Rúbrica 1er corte - Landing Page/Group\ 3.png");
  background-repeat: no-repeat;
  background-size: 680px;
  background-position: right;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 700px;
}

.principio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-left: 100px;
}

.principio h2 {
  font-size: 60px;
  color: #331b3b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

button {
  width: 180px;
  height: 50px;
  background-color: #331b3b;
  border: none;
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;
}

/* SECCION MAROLY */

.yourbusiness h2 {
  font-size: 50px;
  color: #331b3b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin-bottom: -80px;
}

.yourbusiness .text1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.yourbusiness {
  background-image: url("../Rúbrica 1er corte - Landing Page/Group\ 4.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 700px;
}

.yourbusiness h3 {
  color: #331b3b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.yourbusiness p {
  font-style: normal;
  color: #331b3b;
  margin: 10px;
}

.yourbusiness .cards {
  margin: 0 auto;
  float: center;
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}

.yourbusiness .box {
  width: 90%;
  height: 230px;
  background-color: rgb(253, 253, 253);
  overflow: hidden;
  margin: 25px 0 0 35px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgb(160, 158, 158);
}

/* SECCION LUIS */
.aboutus {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  margin-bottom: 65px;
  align-items: center;
  justify-content: center;
}

.aboutus .text p {
  font-size: 38px;
  font-style: normal;
  color: #331b3b;
}

.parrafo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 30%;
  height: auto;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 110px;
  margin-left: 60%;
}

.parrafo h2 {
  font-size: 50px;
  color: #331b3b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 200px;
}

.imgaboutus {
  background-image: url("../Rúbrica 1er corte - Landing Page/Acercadenosotros2.png");
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: left;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 700px;
}

/* SECCION RONALDO */
.testament {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  margin-bottom: 65px;
  align-items: center;
  justify-content: center;
}

.text {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.testament .text p {
  font-size: 38px;
  color: #331b3b;
  text-align: center;
}

.cards {
  margin: 0 auto;
  float: center;
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  align-items: center;
  justify-content: space-around;
}

.box {
  width: 90%;
  height: 230px;
  background-color: rgb(253, 253, 253);
  overflow: hidden;
  margin: 25px 0 0 35px;
}

.box .autor p {
  color: #fdc221;
}

.box .autor b {
  color: #000000;
}

/* FOOTER */
.pie {
  background: #000000;
  border-top-right-radius: 116px;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.pie .formulario {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pie .formulario button {
  width: 180px;
  height: 30px;
  background-color: #fe9a22;
  color: #eeee;
  cursor: pointer;
}

.pie p {
  color: #ffff;
  text-align: left;
}

.pie h2 {
  color: #ffff;
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    padding: 0;
  }

  nav ul {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  .comentarios {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }

  .pie {
    width: 110%;
    grid-template-columns: repeat(1, 1fr);
  }

  .yourbusiness .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .yourbusiness {
    background-image: none;
  }
}
